@import "../TTLakes/font-TTLakes.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "TT Lakes", sans-serif;
}

html, body {
    background: #F8F8F8;
}

.header__body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 16px;
}

@media (min-width: 1120px) {
    .header__body {
        padding-right: 32px;
        padding-top: 42px;
    }
}

.header__border {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

@media (max-width: 783px) {
    .header__border--\@small-screen {
        display: none;
    }
}

.header__left-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 154px;
}

@media (min-width: 784px) {
    .header__left-body {
        width: 180px;
    }
}

@media (min-width: 1120px) {
    .header__left-body {
        display: none;
    }
}

.header__right-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 116px;
}

@media (min-width: 784px) and (max-width: 1119px) {
    .header__right-body {
        width: 290px;
        justify-content: space-between;
    }
}

.header {
    width: 100%;
    height: 87px;
    box-shadow: 0 1px #d9fff5;
    background: #FFFFFF;
    z-index: -1;
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
}

.menu-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    cursor: pointer;
}

.contacts {
    width: 152px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 783px), (min-width: 1120px) {
    .contacts {
        display: none;
    }
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96px;
}

.settings__caption {
    font-weight: 500;
    margin-left: 20px;
    margin-right: 10px;
}

@media (min-width: 1120px) {
    .settings {
        display: none;
    }
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title__header {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: bold;
}

.title__hightlight {
    width: 4px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='40' viewBox='0 0 4 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V40C2.20914 40 4 38.2091 4 36V4Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
    margin-right: 12px;
}

@media (min-width: 784px) {
    .title__hightlight {
        margin-right: 20px;
    }
}

@media (min-width: 1120px) {
    .title__hightlight {
        margin-right: 30px;
    }
}

.title {
    display: flex;
    height: 40px;
}

.button {
    flex-shrink: 0;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #7E7E82;
    font-size: 16px;
    background-color: #F8F8F8;
    cursor: pointer;
}

.button__text {
    margin-left: 16.54px;
    margin-right: 9.3px;
    letter-spacing: -0.2px;
}

.button--active {
    border: 2px solid #B8FFEC;
    background-color: #ffffff;
}

.description__paragraph-2 {
    margin-top: 20px;
}

@media (max-width: 783px) {
    .description__paragraph-2 {
        display: none;
    }
}

@media (max-width: 1119px) {
    .description__paragraph-2-continuation {
        display: none;
    }
}

.description {
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;
}

.main__picture {
    width: 100%;
}

.main__picture-wrapper {
    width: 100%;
    margin-top: 16px;
}

@media (min-width: 784px) {
    .main__picture-wrapper {
        min-width: 360px;
        margin-left: 48px;
    }
}

.main__description-and-picture-wrapper {
        margin-left: 16px;
        margin-top: 24px;
    }

@media (min-width: 784px) {
    .main__description-and-picture-wrapper {
        display: flex;
        margin-right: 25px;
        margin-left: 25px;
    }
}

.main__read-more {
    display: flex;
    align-items: center;
    height: 24px;
    margin-top: 16px;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 16px;
}

.main__read-more::before {
    content: "";
    width: 8px;
    height: 11px;
    background-image: url(../img/read-more.svg);
    margin-left: 8px;
}

.main__read-more-text {
    margin-left: 14px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
}

.main__title {
    margin-top: 24px;
}

.title__settings {
    display: none;
}

@media (min-width: 1120px) {
    .title__settings {
        display: flex;
        margin-right: 32px;
        margin-left: auto;
        width: 393px;
    }
}

.main__slide-menu {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 24px;
    margin-left: 16px;
}

.main__slide-menu::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg,
     #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

@media (min-width: 784px) {
    .main__slide-menu {
        margin-top: 32px;
        margin-left: 24px;
    }
}

@media (min-width: 1120px) {
    .main__slide-menu {
        flex-wrap: wrap;
    }

    .main__slide-menu::after {
        display: none;
    }
}

.mobile-menu {
    width: 320px;
    min-height: 500px;
    background: #fff;
}

.mobile-menu__header {
    display: flex;
    align-items: center;

    padding: 0 24px;
    height: 86px;

    box-shadow: none;
}

.mobile-menu__header-logo {
    margin-left: 16.73px;
    margin-right: auto;
}

.mobile-menu__vertical-menu {
    margin-top: 30px;
    margin-left: 24px;
}

.vertical-menu__button {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-bottom: 28px;
    background: #fff;
    color: #1B1C21;
    font-weight: 500;
}

.vertical-menu__button--active {
    position: relative;
    border: none;
    color: #7E7E82;
}

.vertical-menu__button--active::before {
    content: "";
    position: absolute;
    left: -24px;
    width: 4px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg width='4' height='40' viewBox='0 0 4 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V40C2.20914 40 4 38.2091 4 36V4Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
}

.mobile-menu__contacts {
    display: flex;
    margin-left: 24px;
}

.mobile-menu__email {
    display: block;
    margin-top: 16px;
    margin-left: 24px;
}

.mobile-menu__phone-number {
    margin-left: 24px;
    margin-top: 12px;
    font-size: 24px;
    font-weight: bolder;
}

.mobile-menu__lang-panel {
    margin-top: 40px;
    margin-left: 24px;
    padding-bottom: 40px;
}

.lang-panel__button {
    background: #fff;
    color: #000;
    margin-right: 5px;
}

.lang-panel__button--active {
    color: #7E7E82;
}

.mobile-menu {
    filter: drop-shadow(16px 0px 52px rgba(14, 24, 80, 0.2));
}

.menu-icon, .button {
    transition: filter 0.5s;
}

.menu-icon:hover, .menu-icon:focus {
    filter: hue-rotate(120deg) brightness(1.5);
}

.button:hover, .button:focus {
    filter: opacity(0.5);
}