.header__border {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

@media (max-width: 783px) {
    .header__border\@small-screen {
        display: none;
    }
}

@media (min-width: 1120px) {
    .header__border\@large-screen {
        display: none;
    }
}