@import "__body/__body.css";
@import "__paragraph-2/__paragraph-2.css";
@import "__paragraph-2-continuation/__paragraph-2-continuation.css";

.description {
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;
}