.main__slide-menu {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 24px;
    margin-left: 16px;
}

.main__slide-menu::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg,
     #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

@media (min-width: 784px) {
    .main__slide-menu {
        margin-top: 32px;
        margin-left: 24px;
    }
}

@media (min-width: 1120px) {
    .main__slide-menu {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .main__slide-menu::after {
        display: none;
    }
}