.header__right-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 116px;
}

@media (min-width: 784px) and (max-width: 1119px) {
    .header__right-body {
        width: 314px;
    }
}

@media (min-width: 1120px) {
    .header__right-body {
        width: 100%;
        justify-content: flex-end;
        align-items: stretch;
    }
}